<h2>Git Repo</h2>
<ul>
    <li><a href="https://github.com/jimmyzhangyl/eShepherdClient.git" target="_blank">Client Code</a></li>
    <li><a href="https://github.com/jimmyzhangyl/eShperedChallengeServer.git" target="_blank">Server Code</a></li>
</ul>

<h1>Orz, More In Progress...</h1>
<div>
    <h1>App Strucutre</h1>
    <img class = "system-diagram" src="assets/system_diagram.png" alt="High Level Diagram" />
    <!-- <br>
    <br>
    <h2>Server: Java Spring Boot</h2>
    <div class="spring-boot-section">
        
    </div>
    <br>
    <h2>Client: Angular + Material</h2>
    <div class="angular-section"></div>
    <br>
    <h2>Data Models</h2>
    <div class="model-section"></div>
    <br> -->
</div>